{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="upper_section">
    <div class="word"><br><br><br><br><br><br><br><br><br><br><br></div>
    <div class="hangman">
        <img class="hangmanImg" src="{% static 'images/0.png' %}">
        
        <img class="img1" src="{% static 'images/1.png' %}">
        
        <img class="img2" src="{% static 'images/2.png' %}">
        
        <img class="img3" src="{% static 'images/3.png' %}">
        
        <img class="img4" src="{% static 'images/4.png' %}">
        
        <img class="img5" src="{% static 'images/5.png' %}">
        
        <img class="img6" src="{% static 'images/6.png' %}">
        
    
</div>
<br>
</div>
<div class="lower_section">
<div class="alphabet">
    <span >A</span>
    <span >B</span>
    <span >C</span>
    <span >D</span>
    <span >E</span>
    <span >F</span>
    <span >G</span>
    <span >H</span>
    <span >I</span>
    <span >J</span>
    <span >K</span>
    <span >L</span>
    <span >M</span>
    <span >N</span>
    <span >O</span>
    <span >P</span>
    <span >Q</span>
    <span >R</span>
    <span >S</span>
    <span >T</span>
    <span >U</span>
    <span >V</span>
    <span >W</span>
    <span >X</span>
    <span >Y</span>
    <span >Z</span><br>
</div>
<footer>
    <form class="js-answerForm" method="POST">{% csrf_token %}
        <label class="answerLabel invisible" for="answer">ANSWER : </label>
        <input class="answerInput invisible" id="answer" type="text" size=10 name=answer>
    </form>
</footer>
<span class="result"></span>
{% endblock %}